## Bitcoin & inflaction

In [17]:
import pandas as pd
import numpy as np

Bitcoin

In [18]:
columns = ['instrument', 'amount', 'Profit investment', 'Return investment', '% profit']

In [19]:
data = [['Bitcoin', 10000, 2067000, 2077000, 20670],
       ['Inflaction', 10000, -1520, 8480, -15]]

In [20]:
df_extra_power_bi = pd.DataFrame(data, columns = ['instrument', 'amount', 'Profit investment',
                                                  'Return investment', '% profit'])
df_extra_power_bi

   instrument  amount  Profit investment  Return investment  % profit
0     Bitcoin   10000            2067000            2077000     20670
1  Inflaction   10000              -1520               8480       -15

In [21]:
df_extra_power_bi.to_csv('./data/b_and_i_pbi.csv')

In [25]:
df_extra_power_bi_b = pd.DataFrame(df_extra_power_bi.iloc[0])
df_extra_power_bi_b = df_extra_power_bi_b.transpose()
df_extra_power_bi_b

  instrument amount Profit investment Return investment % profit
0    Bitcoin  10000           2067000           2077000    20670

In [27]:
df_extra_power_bi_b.to_csv('./data/b_pbi.csv')

In [28]:
df_extra_power_bi_i = pd.DataFrame(df_extra_power_bi.iloc[1])
df_extra_power_bi_i = df_extra_power_bi_i.transpose()
df_extra_power_bi_i

   instrument amount Profit investment Return investment % profit
1  Inflaction  10000             -1520              8480      -15

In [29]:
df_extra_power_bi_i.to_csv('./data/i_pbi.csv')